// component variables
$label-color : material-color('grey', '500');
$focus-color : material-color('green', '500');
$input-border : material-color('grey', '500');

.form-group {
    position: relative;
    margin-bottom: $base-space;

    .form-element {
        font-size: rem-calc(14px);
        padding: rem-calc(6px 0px);
        display: block;
        width: 100%;
        height: $base-space;
        background-color: transparent;
        border: none;
        border-bottom: rem-calc(1px) solid $input-border;
        color: $white;

        &:focus {
            outline: none;
            border-bottom: rem-calc(1px) solid $focus-color;
            color: $focus-color;
        }
    }

    .label {
        color: $label-color;
        font-size: rem-calc(14px);
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 0;
        top: rem-calc(5px);
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    
    .form-input:focus ~ .label,
    .form-input:not(:placeholder-shown) ~ .label,
    .form-select:not([value=""]):valid ~ .label,
    .form-select:focus ~ .label {
        top: rem-calc(-10px);
        font-size: rem-calc(12px);
        color: darken($focus-color, 10%);
    }
    .form-select:hover {
        color: material-color('grey', '500');
    }
    .form-input:not(:placeholder-shown),
    .form-select:not([value=""]):valid {
        border-bottom: rem-calc(1px) solid $focus-color;
        color: $focus-color;
    }
    .form-select option {
        background: material-color('grey', '800');
        border: none;
    }
}

.form-textarea {
    min-height: rem-calc(30px);
    max-height: rem-calc(260px);
    overflow: hidden;
    overflow-x: hidden;
    max-width: 100%;
    min-width: 100%;
}


// type date 

[type="date"] {
    &::-webkit-calendar-picker-indicator {
        width: 100%;
        opacity: 0;
        position: absolute;
        height: 100%;
        top:0;
        left: 0;
    }
    &::-webkit-inner-spin {
        display: none;
    }
}