.person-view {
    display: block;
    background: material-color('grey', '100');

    .content {
        padding-left: $sidebar-width;
    }
}

.grid-view,
.table-view {
    padding-right: $base-space / 3;

    > div:not([aria-hidden]) {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 100vh;
    }
}