.person-view {
    display: block;
    background: material-color('grey', '100');

    .content {
        @include breakpoint(large) {
            padding-left: $sidebar-width;
        }
        @include breakpoint(medium down) {
            padding-top: $sidebar-width;
        }
    }
}

.grid-view,
.table-view {

    @include breakpoint(large) {
        padding-right: $base-space / 3;
    }

    > div:not([aria-hidden]) {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 100vh;
    }
}