// variables

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700&subset=latin-ext');

// typography
$base-font-family: 'Lato',sans-serif;

// colors
$body:                      #f6f6f6;
$type:                      #333;
$white:                     #fff;
$black:                     #000;

$male-icon-color:           material-color('blue', '500');
$female-icon-color:         material-color('pink', '500');
$material-grey-dark:        material-color('grey', '900');

// sizes
$base-space:                30px;
$sidebar-width:             60px;

$float-btn-size:            30px;
$float-btn-color:           transparent;

// css properties

$card-shadow:               0px 3px 5px 0px ;
$card-shadow-color-alpha:   rgba($black, 0.15);