.person-cell {

    > section {
        flex-grow: 1;
        padding: $base-space / 2;

        > div [title]:not(i) {

            @include title;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: rem-calc(5px);
        }
    }
}
