// card header variables
.person-cell {

    header {
        position: relative;
        .floating-button {
            position: absolute;
            top: rem-calc($base-space / 2);
            right: rem-calc($base-space / 2);
        }
        figure {
            display: block;

            .image {
                margin:20px auto;
                width: 50px;
                height: 50px;
                position: relative;
                border: 2px solid $white;
                background: $white;
                box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.14);
                border-radius: 50%;
                
                img {
                    width: 100%;
                    height: 100%;   
                    object-fit: contain;
                    object-position: center center;
                    border-radius: 50%;
                }
            }

            .caption {
                flex-grow: 1;

                span {
                    @include font(14px, 14px, 400);
                }

                .title {
                    display: block;
                    font-size: 12px;
                    font-weight: 700;
                    position: relative;
                    top: 2px;
                }

                .first-name {
                    &:after {
                        content: ' ';
                    }
                }

                .last-name {
                    text-transform: uppercase;
                    &:after {
                        content: ', ';
                    }
                }
            }
        }

        .Male {

            @include icon($fa-var-mars, $white, 12px);

            background: $male-icon-color;
        }

        .Female {

            @include icon($fa-var-venus, $white, 12px);
            &:before {
                position: relative;
                left: 1px;
            }

            background: $female-icon-color;
        }

        .gender-icon {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: rem-calc(3); 
            border-radius: 50%;
            border: 1px solid material-color("grey", "200");
            width: rem-calc(20px);
            height: rem-calc(20px);
            box-shadow: $card-shadow $card-shadow-color-alpha;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(30%, 30%);
        }
    }
}

$card-backgrounds: (
    red,
    pink,
    purple,
    blue,
    cyan,
    teal,
    green,
    lime,
    amber,
    orange
);

@for $i from 0 through 9 {

    $color: $i + 1;
    $colorName: nth($card-backgrounds, $color);

    [__idx$="#{$i}"] {
        
        .person-cell header {
            background-image: url('/images/card-header-#{$i}.jpg');
            background-color: material-color("#{$colorName}", "600");
        }
    }
}


