// card header variables
.person-cell {

    header {
        position: relative;
        .floating-button {
            position: absolute;
            top:0;
            right: 0;
        }
        figure {
            display: block;

            .image {
                margin:20px auto;
                width: 50px;
                height: 50px;
                
                img {
                    width: 100%;
                    height: 100%;   
                    object-fit: contain;
                    object-position: center center;
                }
            }

            .caption {
                flex-grow: 1;

                span {
                    @include font(14px, 14px, 400);
                }

                .title {
                    display: block;
                    font-size: 12px;
                    font-weight: 700;
                    position: relative;
                    top: 2px;
                }

                .first-name {
                    &:after {
                        content: ' ';
                    }
                }

                .last-name {
                    text-transform: uppercase;
                    &:after {
                        content: ', ';
                    }
                }
            }
        }

        .Male {

            @include icon($fa-var-mars, $male-icon-color, 12px);

            color: $male-icon-color;
        }

        .Female {

            @include icon($fa-var-venus, $female-icon-color, 12px);

            color: $female-icon-color;
        }

        .gender-icon {
            position: absolute;
            top: 0;
            right: 0;
            padding: 3px; 
        }
    }
}

@for $i from 0 through 9 {
    [__idx$="#{$i}"] {
        
        .person-cell header {
            background-image: url('/images/card-header-#{$i}.jpg');
        }
    }
}

@for $j from 0 through 9 {

}

