.person-cell {

    > section {

        > div [title]:not(i) {

            @include title;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
}
