.person-view {

    header.controls {
        background: material-color('grey', '200');
        padding: $base-space / 2  $base-space;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .toggle-view-mode {

            @include cta;

        }

        .reset {

            @include cta(material-color('red', '900'),  $white, material-color('red', '900'));

        }
    }
}