.copyright {
    @include font(12px, 20px, 300);
    color: material-color("grey","500");
    display: flex;
    justify-content: flex-end;
    padding: rem-calc(5px 10px);
    background: rgba(0,0,0,0.3);
}