// view based variables

.grid {

    > div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        grid-gap: $base-space;

        @include breakpoint(medium down) {
            grid-gap:20px;
        }
    }

    .person-cell {
        box-shadow: $card-shadow $card-shadow-color-alpha;

        section {
            background: $white;
            height: 200px;
            padding-top: 0;

        }

        .tabs {
            .tabs-content {
                display: flex;
                flex-wrap: wrap;
                
                [title] {
                    width: 100%;
                }
            }
        }
    }
}
