
.table {

    > div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: $base-space / 2;

        @include breakpoint(medium down) {
            grid-gap:$base-space / 3;
        }
    }

    .person-cell {
        display: flex;
        flex-direction: row;
        transition: all 0.35s ease;
        overflow: visible;

        header {
            width: 235px;
            flex-shrink: 0;
            display: flex;

            @include breakpoint(small only) {
                width: 175px;
            }

            &:before {
                opacity: 1;
                mix-blend-mode: unset;
            }

            &:after {
                display: none;
            }

            figure {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0;

                .image {
                    flex-shrink: 0;
                    margin: 0 $base-space / 3 0 -10px;

                }

                .caption {
                    text-align: left;
                    padding: 5px;
                }

            }
        }

        section {
            display: flex;
            flex-grow: 1;
            background: $white;
            padding: 0;
            width: calc(100% - 235px);

            @include breakpoint(small only) {
                width: calc(100% - 175px);
            }
        }

        .tabs {
            .tabs-list {
                display: none;

                .tabs-item {
                    flex-grow: 0;
                    padding-right: 10px;
                }
            }

            .tabs-title {
                display: none;
            }

            .tabs-container {
                display: flex;
                padding: 0;
                width: 100%;
                overflow-x: auto;
                overflow-y: hidden;
            }

            .tabs-content {
                display: flex;
                opacity: 1;
                height: auto;
                width: auto;
                flex-grow: 1;

                [title] {
                    display: block;
                    border-left: 1px solid material-color("grey", "300");
                    padding: 0 10px 10px;
                    margin: 0;
                    flex-grow: 1;

                    &:before {
                        display: block;
                        width: auto;
                        margin-left: -10px;
                        margin-right: -10px;
                        margin-bottom: 10px;
                        padding: 10px 10px 5px;
                        border-bottom:1px solid material-color("grey", "300");
                        white-space: nowrap;
                        background: material-colo("grey", "200");
                    }
                }
                .race {
                    width: rem-calc(120px);
                }
                .language {
                    width: rem-calc(150px);
                }
                .university {
                    width: rem-calc(200px);
                }
                .department {
                    width: rem-calc(140px);
                }
                .ein {
                    width: rem-calc(200px);
                }
                .email {
                   width: rem-calc(200px);
                }
                .linkedin-skill {
                    width: rem-calc(180px);
                }
                .buzzword {
                    width: rem-calc(180px);
                }
            }
        }
    }
}
